body {
    margin: 0;
    font-family: "MuseoSansCyrl", sans-serif;
    color: #333333;
}

@font-face {
    src: url("../static/fonts/MuseoSansCyrl-500.ttf");
    font-family: "MuseoSansCyrl";
}

@font-face {
    src: url("../static/fonts/MuseoSansCyrl-700.ttf");
    font-family: "MuseoSansCyrlBold";
}


.header {
    padding: 40px 0;
    border-bottom: 1px solid #DCDCF3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.button {
    border-radius: 6px;
    padding: 14px 35px;
    background: #6933dc;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    border: 0;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
}

a.button {
    display: inline-block;
}

.button:hover {
    background: #2c1467;
}

.button:disabled {
    background: #e2dfe7;
    cursor: not-allowed;
}

.button-transparent {
    background: transparent;
    color: #6933DC;
    border: 1px solid #6933DC;
}

.button-transparent:hover {
    background: #6933DC;
    color: white;
}

.button-transparent:disabled {
    background: transparent;
    color: #e2dfe7;
    border: 1px solid #e2dfe7;
}

.footer {
    text-align: center;
    padding: 40px 0;
    font-size: 13px;
    color: #dcdcf3;
    border-top: 1px solid #6933DC;
}

a {
    color: #6933DC;
}

.common-title {
    font-family: MuseoSansCyrlBold, sans-serif;
    font-size: 48px;
    color: #333;
}

.common-title span {
    color: #6933dc;
}

.big-title {
    font-family: MuseoSansCyrlBold, sans-serif;
    font-size: 54px;
    line-height: 65px;
    color: #333333;
}

.big-title span {
    color: #6933DC;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile{
    display: flex;
    align-items: center;
}

.profile-image{
    margin-right: 5px;
}

.profile-user{
    font-size: 18px;
    line-height: 18px;
}

.profile-logout{
    font-size: 12px;
    line-height: 12px;
}